<div class="show-contailer">
<div class="user-profile">
<div class="user-wrapper">
<img src="" alt="avatar">
<div class="user-box">
<h3><%= @user.name %></h3>
<p>Number of Post:<span><%= @user.posts_counter || 0 %></span></p>
</div>
</div>
<div class="bio">
<h3>Bio</h3>
<p><%= @user.bio %></p>
</div>
</div>
<div class="post-box">
<% @user.posts.each do |post| %>
  <div class="post">
<h4>Post <span><%= post.id %></span></h4>
<p>
<%= post.text %>
</p>
<div class="post-info">
<small>Comments: <span><%= post.comments_counter || 0%></span></small>
<small>Likes: <span><%= post.likes_counter || 0 %></span></small>
</div>
</div>
<%end%>
</div>
<button class="see-all">
<%= link_to 'Sea all posts', user_post_path(@user)%>
</button>
</div>